<div class="container">
    <div style="text-align: center; margin-top: 10%;">
        <img src="assets/artemis96.png" />
        <h4 style="margin: 0; color: #455a64">ARTEMIS</h4><br />
        <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
            <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
            </div><div class="circle-clipper right">
            <div class="circle"></div>
            </div>
        </div>
        </div>
    </div>
</div>